@import "_vars";

.dragover .fullscreen-container-b {
  border: $blue;
}

.fullscreen-container-b {
  margin: 0;
}

.fullscreen-container-b {
  -webkit-transition: all 2000ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 2000ms cubic-bezier(0.19, 1, 0.22, 1);
  display: block;
  overflow: hidden;
  background: $white;
}

@media all and (max-width: 1000px) {
  .fullscreen-container-b {
    width: 85%;
    padding: 20px;
    position: relative;
  }
}

@media all and (min-width: 1000px) {
  .fullscreen-container-b {
    padding: 20px;
    width: 70%;
  }
}

.archive-cat-link {
  display: block;
  text-align: center;
  font-size: 14pt;
  text-decoration: none;
  color: $black;
  padding: 10px 0 10px 0;
  margin: 10px auto 10px auto;
  @include ani(1000ms);
  background: $whitetransparent;
  width: calc(100% - 20px);

  small {
    font-size: 9pt;
    display: block;
    width: 100%;
    padding: 0;
    margin: -10px 0 0 0;
  }
}
.archive-cat-link:hover,
.archive-cat-link.current {
  background: $grey;
}
